@import "tailwindcss";
@theme {
  --color-primary: #7c3aed;
  --color-success: #22c55e;

  --color-background: #09090b;
  --color-card: #18181b;
  --color-border: #27272a;

  --color-surface: #111111;
  --color-muted: #71717a;
}